[run]
omit = 
    */venv/*
    test/test_backgammongame.py
    test/test_board.py
    test/test_checker.py
    test/test_dice_manager.py
    test/test_dice.py
    test/test_move_calculator.py
    test/test_move_validator.py
    test/test_player.py
    test/test_rule_validator.py
    test/test_cli.py
    test/test_board_adapter.py
